@page {
    size: a4 portrait;
    margin: 25mm 10mm 25mm 10mm;
    counter-increment: page;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    white-space: pre;
    color: black;
    @bottom-center {
        content: counter(page);
    }
}

.md-button {
  text-align: center;
  min-width: 30%;
}

@media ( max-width: 800px ) {
  .md-button {
    width: 70%;
  }
}


